<h1 data-confirm="hello!">Find friends</h1>


<ul>
	<% @users.each do |user| %>
		<li>
			<% if user.avatar.url(:thumb) != '/avatars/thumb/missing.png' %>
				<%= link_to (image_tag user.avatar.url(:thumb)), user_path(user) %>
			<% else %>
				<%= link_to (image_tag 'empty_avatar.gif', size: '50x50'), user_path(user) %>
			<% end %>
			<%= link_to user.username, user_path(user) %>
			<% if !user.about_me.empty? %>
				 - 
			<% else %>
				<%= nil %>
			<% end %>
			<%= user.about_me %>
		</li>
	<% end %>
</ul>

