<h1 data-confirm="hello!">Find friends</h1>
<br />
<%= form_tag users_path, method: :get do %>
	<%= label_tag :query, "Search:" %>
	<%= text_field_tag :query, nil, {placeholder: "looking for someone?"} %>
	<%= submit_tag "Search" %>
<% end %>
<%= link_to 'browse all users', users_path %>
<br />
<ul>
	<% @users.each do |user| %>
		<li>
			<%= link_to (image_tag user.avatar.url(:thumb)), user_path(user) %>
			<%= link_to user.username, user_path(user) %>
			<% if !user.about_me.empty? %>
				 - 
			<% end %>
			<%= user.about_me %>
		</li>
	<% end %>
</ul>

