<h1><%= @user.username %></h1>
<%= image_tag @user.avatar.url(:medium) %>
<p><% if current_user && @user != current_user && !current_user.following?(@user) %>
		<%= link_to "Follow #{@user.username}", follow_user_path(@user), method: :post %>
	<% elsif current_user && @user != current_user && current_user.following?(@user) %>
		<%= link_to "Unfollow #{@user.username}", unfollow_user_path(@user), method: :delete, data: {confirm: "Are you sure you want to unfollow #{@user.username}?"} %>
	<% end %></p>
<p>(<%= @user.email %>) <%= @user.about_me %></p>
<h3>who <%= @user.full_name %> is following</h3>
<ul>
	<% @user.follows.each do |follow| %>
		<li><%= link_to (image_tag follow.user.avatar.url(:thumb)), user_path(follow.user) %>
			<%= link_to follow.user.full_name, user_path(follow.user) %></li>
	<% end %>
</ul>
<h3><%= @user.full_name %>'s Posts</h3>
<ul>
	<% @user.posts.reverse.each do |post| %>
		<li><%= link_to post.subject, post %> <%= time_ago_in_words(post.created_at) %> ago...</li>
	<% end %>
</ul>

<%= link_to 'back', users_path %>