<h1><%= @post.subject %></h1>
<p><%=simple_format @post.body %></p>
<% if @post.image.url(:medium) != '/images/medium/missing.png' %>
	<%= image_tag @post.image.url(:medium) %>
<% else %>
	<% nil %>
<% end %>
<% if current_user && current_user.id == @post.user_id %>
	<p><%= link_to 'edit', edit_post_path(@post) %> | 
	<%= link_to 'delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %></p>
<% else %>
	<% nil %>
<% end %>
<hr>
<%= link_to "to #{@post.user.full_name}'s profile", user_path(@post.user_id) %>
<%= link_to 'back to the feed', posts_path %>